@{
    ViewBag.Title = "Bpms User Panel";
    Layout = "../Shared/_Layout.cshtml";
}

<div id="root"></div><noscript>You need to enable JavaScript to run this app.</noscript>
<script>
    window.rootPage = '@Html.Raw((string)ViewBag.rootPage)'
    window.CartableUrl = '@(Html.Raw((string)ViewBag.CartableUrl))';
    window.EngineUrl = '@(Html.Raw((string)ViewBag.EngineUrl))';
    window.loginUrl = '@(Html.Raw((string)ViewBag.LoginUrl))';
    window.signOutUrl = '@(Html.Raw((string)ViewBag.SignOutUrl))';
    window.userFullName = '@(Html.Raw((string)ViewBag.UserFullName))';
    window.dnnMenu = @(Html.Raw((string)ViewBag.DnnMenu));
    window.showUserPanelWithNoSkin = @(Html.Raw(((bool)ViewBag.ShowUserPanelWithNoSkin).ToString().ToLower()));
    window.LoadUserPanelJquery = @(Html.Raw(((bool)ViewBag.LoadUserPanelJquery).ToString().ToLower())) ;
    window.LoadUserPanelBootstrap = @(Html.Raw(((bool)ViewBag.LoadUserPanelBootstrap).ToString().ToLower()));
    window.moduleType = 2;
</script>

