@model SingleActionSettingDTO
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Collections
@{ViewBag.LoadUserPanelBootstrap = true;}
@{  
    ViewBag.DontLoadBPMS = true;
}
<style>
    .input-group .select2 {
        width: 100% !important;
    }
</style>
<h2 id="dnnSitePanel-BasicSettings" class="dnnFormSectionHead">
    <a href="" class="dnnSectionExpanded">
        Setting
    </a>
</h2>
<div class="form" style="min-height: 300px;" id="divContainerSetting">
    <div class="form-group row">
        <div class="col-sm-6">
            <label> Web Api Address </label>
            <div class="input-group ">
                @Html.TextBoxFor(model => model.WebApiAddress, new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(model => model.WebApiAddress)
        </div>
        <div class="col-sm-6">
            <label> WebService Pass </label>
            <div class="input-group ">
                @Html.TextBoxFor(model => model.WebServicePass, new { @class = "form-control", onchange = "on_changePass();" })
            </div>
            @Html.ValidationMessageFor(model => model.WebServicePass)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label> Load Bootstrap </label>
            <div class="input-group ">
                @Html.CheckBoxFor(model => model.LoadBootstrap)
            </div>
        </div>
        <div class="col-sm-6">
            <label>Load jQuery</label>
            <div class="input-group ">
                @Html.CheckBoxFor(model => model.LoadjQuery)
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            <label>Use CardBody class name</label>
            <div class="input-group ">
                @Html.CheckBoxFor(model => model.ShowCardBody)
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6">
            Forms/Processess
            <div class="input-group ">
                <select name="ddlType" id="ddlType" class="form-control" onchange="ddlType_change(this)">
                    <option value="2" @(Model.IsProcess ? "" : "selected")>Application Pages/Forms</option>
                    <option value="1" @(Model.IsProcess ? "selected" : "")>Processes</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group row" style="@(Model.IsProcess?"display:none;":"")" id="divApplicationPageID">
        <div class="col-sm-6">
            Forms
            <div class="input-group combo-search">
                @Html.BpmsComboSearchFor(model => model.ApplicationPageID, Model.ApplicationName, (string)ViewBag.ApplicationPageUrl, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-6">
            Message After Submitting(if filled, it hides form and shows this message)
            <div class="input-group combo-search">
                @Html.TextAreaFor(model => model.AppPageSubmitMessage, new { @class = "form-control", rows = "5" })
            </div> 
        </div>
    </div>
    <div class="form-group row" style="@(Model.IsProcess?"":"display:none;")" id="divProcessID">
        <div class="col-sm-6">
            Processes
            <div class="input-group combo-search">
                @Html.BpmsComboSearchFor(model => model.ProcessID, Model.ProcessName, (string)ViewBag.ProcessUrl, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-6">
            Show This Form After Submitting
            <div class="input-group combo-search">
                @Html.BpmsComboSearchFor(model => model.ProcessEndFormID, Model.ProcessEndFormName, (string)ViewBag.ProcessFormUrl, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>

<script>
    //data-sourceUrl
    setInterval(function () {
        document.getElementById('ProcessEndFormID').setAttribute('data-parameter', 'processId=' + document.getElementById('ProcessID').value)
    }, 500);
    function ddlType_change(target) {
        document.getElementById('divProcessID').style.display = 'none';
        document.getElementById('divApplicationPageID').style.display = 'none';
        if (target.value == "1") {
            document.getElementById('divProcessID').style.display = '';
            document.getElementById('ApplicationPageID').value = ''; 
            document.getElementById('ApplicationPageID').innerHTML = '';
        }
        else {
            document.getElementById('divApplicationPageID').style.display = '';
            document.getElementById('ProcessID').value = '';
            document.getElementById('ProcessID').innerHTML = '';
        }
    }
    function on_changePass() {
        let url = '@(Html.Raw(ViewBag.Url))';
        CallPostAjax(url, getDataModel('divContainerSetting'), null, null, null, null);
    }
</script>
