@model DynamicBusiness.BPMS.BusinessLogic.EngineFormModel
@{
    if (Model != null)
    {
        ViewBag.ThreadTaskID = Model.ThreadTaskID;
        ViewBag.ThreadID = Model.ThreadID;
        ViewBag.DownloadFileUrl = Model.DownloadFileUrl;
    }
}
@{
    foreach (string cssFile in ViewUtility.LoadStyleFiles())
    {
        @Styles.Render(cssFile)
    }
    if (Model != null)
    {
        <style>
    @Html.Raw(Model.FormModel.ContentHtml.Helper.StyleSheet.ToStringObj())
        </style>
        <div id="divBpmsContainer" data-form-container="true" data-formId="@(Model.FormModel.DynamicFormID)">
            <div class="form mt-2">
                @Html.Hidden("StepID", Model.FormModel.StepID)
                @Html.Partial(ViewUtility.GetSharedPresentation("HtmlElement/_ContentHtml"), Model.FormModel.ContentHtml)
                @if (Model.FormModel.IsMultiStep && !Model.FormModel.IsFormReadOnly)
                {
                    <div class="form-group">
                        <div class="col-sm-12 text-left">
                            @if (!Model.FormModel.IsFirstStep)
                            {
                                <button id="btnPreviousStep" type="submit" class="btn btn-danger" onclick="FormControl.addGoPreviousStep(this)">
                                    مرحله قبل
                                </button>
                            }
                            @{
                                if (!Model.FormModel.HasSubmitButton)
                                {
                                    <button id="btnSaveData" type="submit" class="btn btn-success" @ViewUtility.GetGroupVal("nextAction") onclick="@(Model.FormModel.IsLasStep?"FormControl.postForm(this); return false;":"FormControl.addGoNextStep(this);")">
                                        @(Model.FormModel.IsLasStep ? "ثبت نهایی" : "ثبت و مرحله بعد")
                                    </button>
                                }
                            }

                        </div>
                    </div>
                }
                else
                {
                    if (!Model.FormModel.HasSubmitButton && Model.ProcessID.HasValue && !Model.FormModel.IsFormReadOnly)
                    {
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button id="btnSaveData" type="submit" @ViewUtility.GetGroupVal("nextAction") onclick="FormControl.postForm(this); return false;" class="btn btn-success">
                                    ثبت اطلاعات
                                </button>
                            </div>
                        </div>
                    }
                }

                @{
                    Html.Raw(Model.ScriptFiles)
                }
            </div>

            <script>
   @Html.Raw(Model.FormModel.ContentHtml.Helper.Script.ToStringObj())

    window["@(Model.FormModel.DynamicFormID)GetListElementUrl"] = "@(Html.Raw(Model.GetListElementUrl))";
    window["@(Model.FormModel.DynamicFormID)GetControlValueUrl"] = "@(Html.Raw(Model.GetControlValueUrl))";
    window["@(Model.FormModel.DynamicFormID)GetConfirmResultUrl"] = "@(Html.Raw(Model.GetConfirmResultUrl))";
    window["@(Model.FormModel.DynamicFormID)GetOperationUrl"] = "@(Html.Raw(Model.GetOperationUrl))";
    window["@(Model.FormModel.DynamicFormID)GetExecuteCodeUrl"] = "@(Html.Raw(Model.GetExecuteCodeUrl))";
    window["@(Model.FormModel.DynamicFormID)GetDataGridElementUrl"] = "@(Html.Raw(Model.GetDataGridElementUrl))";
    window["@(Model.FormModel.DynamicFormID)DeleteFileUrl"] = "@(Html.Raw(Model.DeleteFileUrl))";
    window["@(Model.FormModel.DynamicFormID)DownloadFileUrl"] = "@(Html.Raw(Model.DownloadFileUrl))";
    window["@(Model.FormModel.DynamicFormID)GetPopUp"] = "@(Html.Raw(Model.GetPopUpUrl))";
    window["@(Model.FormModel.DynamicFormID)GetPostUrl"] = "@(Html.Raw(Model.GetPostUrl))";
    window["@(Model.FormModel.DynamicFormID)GetDataGridPagingUrl"] = "@(Html.Raw(Model.GetDataGridPagingUrl))";
    window["@(Model.FormModel.DynamicFormID)GetDataGridReport"] = "@(Html.Raw(Model.GetDataGridReport))";
    window["@(Model.FormModel.DynamicFormID)GetChartElementUrl"] = "@(Html.Raw(Model.GetChartElementUrl))";
    window["@(Model.FormModel.DynamicFormID)GetCaptchaUrl"] = "@(Html.Raw(Model.GetCaptchaUrl))";
            </script>
        </div>
    }
}
<script>

    document.getElementsByTagName('form')[0].onsubmit = function () {
        return false;
    };
</script>